body {
    background-color: #e9e9e9;
}

h1 {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3em;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400; 
}

.navigation-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-item {
    justify-self: center;
}

.logo {
    grid-column: 1 / 4;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border: 1px solid black;
    grid-gap: 12px;
    padding: 12px;
}

.mobile-tablet-item {
    display: inline;
}

.desktop-item {
    display: none;
}

.content-gallery img {
    display: block;
    width: 100%;
    border: 1px solid black;
}

.content-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4";
    gap: 0
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    display: none;
    grid-area: img5;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "author"
        "footer-copyright";
    background-color: #14181d;
    color: white;
    justify-content: center;
}

.footer-item {
    padding: 12px;
    text-align: center;
    align-self: center;
}

.author {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "author-profile"
        "author-desc";
    justify-self: center;
}

.author-profile {
    grid-area: author-profile;
}
.author-profile img {
    border-radius: 50%;
    width: 200px;
} 

.author-desc {
    grid-area: author-desc;
    text-align: left;
}

.footer-copyright {
    border: 1px solid white;
}

.footer-copyright p {
    font-size: 12px;
}

/* Media Queries */

/* large mobile */
@media screen and (min-width: 540px){
    .content, .footer-item {
        padding: 20px;
    }

    .content-gallery {
        grid-template-columns: 1fr;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4";
    }
}

@media screen and (min-width: 720px) {
    .author-desc p {
        min-width: 318.667px;
        margin: auto;
    } 

    .content, .footer-item {
        padding: 30px;
    }

    .content {
        margin: 30px 30px 0 30px;
    }

    .footer {
        margin: 0 30px;
    }

    .content-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "img1 img2"
            "img3 img4";
        margin: 0 30px;
    }
    
    .author {
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "author-desc author-profile";
        gap: 30px;
    } 

    .author-profile {
        align-self: center;
    } 
}

@media screen and (min-width: 1024px) {
    .logo img{
        width: 200px;
    }
    
    .content {
        padding: 50px;
        margin: 50px 50px 0 50px;
    }

    .desktop, .desktop-item2, .desktop-item3 {
        display: block;
    }

    .desktop {
        font-size: 2.5em;
    }

    .desktop, .item1 h1 {
        text-align: left;
    }

    .item1 {
        grid-area: item1;
    }

    .item1 p {
        font-size: 1.5em;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .item4 {
        grid-area: item4
    }

    .mobile-tablet-item {
        display: none;
    }

    .desktop-item2 {
        grid-area: desktop-item2;
    }

    .desktop-item3 {
        grid-area: desktop-item3
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "item1 item1 item1"
            "item2 desktop-item2 desktop-item3"
            "item2 item3 item4"; 
    }

    .content-item h1{
        text-align: left;
    }

    .img5 {
        display: block;
    }

    .content-gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "img5 img5 img1 img2"
            "img5 img5 img3 img4";
    }

    .content-gallery, .footer{
        margin: 0 50px;
    }

    .footer-item {
        padding: 50px;
    }
    
    .author {
        gap: 50px;
    }
    
    .author-desc p {
        max-width: 539.333px;
    }
}
